<h1>The entry form will go here later! Scram!</h1>


<!-- This page should contain a form to allow the user to add a new entry to the dictionary.

Hints:

Use form_for and its corresponding form helpers to create the fields (e.g. f.submit to make an <input type=”submit”)
For the Entry model, word and language are string columns and definition is a text column
If you haven’t found yourself requiring an instance variable, look for ways to refactor your code so the controller and not the view is calling ActiveRecord methods -->
