<h1> Show Page </h1>

<!-- The goal of this page is to display a single dictionary entry.

Hints:

Remember, because this is a dynamic route containing the id of the entry, you must retrieve the id from the params hash in order to pull the right data from the database
Refresh your memory on ActiveRecord methods that can help you retrieve the right data from your database
Think about what data you need in your view and, based on that, define an instance variable in your controller method
Remember to display the word, definition, and language attributes
Think about what semantic HTML elements would make sense -->
